<header>
  <header>
    <nav>
      <ul>       
        <li><a routerLink="/user" routerLinkActive="active">Account</a></li>
        <li><a routerLink="/analytics" routerLinkActive="active">Dashboard</a></li>
        <li><a routerLink="/loans" routerLinkActive="active">Loan Mgmt</a></li>
        <li><a routerLink="/customers" routerLinkActive="active">Customer</a></li>
        <li><a routerLink="/analytics" routerLinkActive="active">Analytics Reports</a></li>
        <li><a routerLink="/loans" routerLinkActive="active">Loan Applications</a></li>
        <li><a routerLink="/collections" routerLinkActive="active">Collections Overview</a></li>
        <li><a routerLink="/tabs" routerLinkActive="active">Tabs Applications</a></li>
        <li><a routerLink="/login" routerLinkActive="active">Login |{{sessionUser}}</a></li>
      </ul>
    </nav>
  </header>
  