<div *ngIf="loading">
    <p>Loading analytics...</p>
  </div>
  {{analyticsData}}
  
  <div *ngIf="error">
    <p>An error occurred: {{ error }}</p>
  </div>
  

<div class="container">
  <h2>4- Analytics Data</h2>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>ID</th>
        <th>Created</th>
        <th>Year</th>
        <th>Month</th>
        <th>Collected</th>
        <th>Disbursed</th>
        <th>Updated</th>
        <th>Enforcer</th>
        <th>Leader</th>
        <th>Title</th>
        <th>Required</th>
        <th>Profit</th>
        <th>Deal</th>
        <th>Period</th>
        <th>Penalty</th>
        <th>Balance Open</th>
        <th>Balance Triad</th>
        <th>Monthly Profited</th>
        <th>Monthly Salaries</th>
        <th>Success</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of (analyticsData$ | async); let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ post.id }}</td>
        <td>{{ post.created | date }}</td>
        <td>{{ post.yearx }}</td>
        <td>{{ post.monthx }}</td>
        <td>{{ post.collectedx }}</td>
        <td>{{ post.disbursedx }}</td>
        <td>{{ post.updated | date }}</td>
        <td>{{ post.enforcerx }}</td>
        <td>{{ post.leaderx }}</td>
        <td>{{ post.fotox }}</td>
        <td>{{ post.requiredx }}</td>
        <td>{{ post.profitx }}</td>
        <td>{{ post.dealx }}</td>
        <td>{{ post.periodx }}</td>
        <td>{{ post.penaltyx }}</td>
        <td>{{ post.balance_open }}</td>
        <td>{{ post.balance_triad }}</td>
        <td>{{ post.mProfited }}</td>
        <td>{{ post.mSalaries }}</td>
        <td>{{ post.success }}</td>
      </tr>
    </tbody>
  </table>
</div>

  
